/* GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    /* === FONT STYLE (MEMBER 1) === */
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .featurette-heading {
    /* === HEADING FONT STYLE (MEMBER 1) === */
    font-family: 'Montserrat', sans-serif;
}

/* === NAVBAR THEME (MEMBER 1) === */
.navbar-custom {
    background-color: #023047; /* A deep, elegant blue */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* FEATURETTES
-------------------------------------------------- */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
